html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
}

section#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
}

h1 {
  color: #0099ff;
}

a.backToMenu, #sidebar article {
  display: none;
}

p.warning {
  background-color: #ffcccc;
}

em {
  background-color: #ccccff;
}
